

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card-list .card-item {
    list-style: none;
}

.card-wrapper {
    max-width: 400px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #fff;
    border-radius: 12px;
    text-decoration: none;    
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.8 ease;
}

.card-list .card-item .card-link:hover {
    border-color: blue;
}



.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}

 
.card-list .swiper-slide {
    transition: transform 0.3s ease; /* Transition pour l'effet de mise en surbrillance */
}

.swiper-slide-active .card-image {
    transform: scale(1.1); /* Agrandir l'image du slide actif */
    transition: transform 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre pour la surbrillance */
}

.swiper-slide-next .card-image, .swiper-slide-prev .card-image {
    transform: scale(0.9); /* Réduire la taille des images des slides voisins */
}


.card-list .swiper-slide:not(.swiper-slide-active) .card-link {
    opacity: 0.6; /* Réduire l'opacité des images non actives */
}
